<template>
    <div class="form-group" id="education-list-example">
        <div class="card"
            is="education-item"
            v-for="(education, index) in educations"
            v-bind:key="education.id"
            v-bind:level_id="education.level_id"
            v-bind:institution="education.institution"
            v-bind:faculty="education.faculty"
            v-bind:specialty="education.specialty"
            v-bind:study_last_year="education.study_last_year"
            v-on:remove="educations.splice(index, 1)"
        >

        </div>
        <button class="mt-3 btn btn-success" v-on:click.prevent="addNewEducation"><i aria-hidden="true" class="fa fa-plus-circle"></i> Добавить</button>
    </div>
</template>

<script>
    Vue.component('education-item', {
        template:'\
    <div class="card bg-light mb-5 p-3">\
        <div class="card-header">\
        {{ test }}\
        </div>\
        <label for="level_id[]">Степень образования</label>\
        <select class="form-control" name="level_id[]" id="level_id[]">\
            <option value="1">Высшее</option>\
            <option value="2"> - Бакалавр</option>\
            <option value="3"> - Магистр</option>\
            <option value="4"> - Кандидат наук</option>\
            <option value="5"> - Доктор наук</option>\
            <option value="6">Среднее специальное</option>\
            <option value="7">Среднее</option>\
        </select>\
        \
        <label for="institution[]">Учреждение образования</label> \
        <input required="required" name="institution[]" type="text" value="{{ institution }}" id="institution[]" class="form-control"> <br> \
        \
        <label for="faculty[]">Факультет</label> \
        <input name="faculty[]" type="text" value=" {{ faculty }} " id="faculty[]" class="form-control"> <br> \
        \
        <label for="specialty[]">Специальность</label> \
        <input required="required" name="specialty[]" type="text" value="" id="specialty[]" class="form-control"> <br>\
        \
        <label for="study_last_year[]">Год окончания</label> \
        <input required="required" name="study_last_year[]" type="date" value="" id="study_last_year[]" class="form-control"> <br>\
        <span class="remove btn btn-danger m-2 ml-auto" v-on:click="$emit(\'remove\')">Удалить</span>\
    </div>\
        ',
        props: ['level_id', 'level_id', 'institution', 'faculty', 'specialty', 'study_last_year']
    });

    export default {
        data() {
            return {
                props: ['educations_list'],
                newEducationText: '',
                educations: [
                    {
                        id: 1,
                        title: 'шщгыарт',
                        faculty: 'FITR',
                        test: 'FITR',
                    }
                ],
                nextEducationId: 2,
            }
        },
        methods: {
            addNewEducation: function () {
                this.educations.push({
                    id: this.nextEducationId++,
                    title: this.newEducationText
                });
                this.newEducationText = ''
            }
        },

        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
