<template>
    <div class="form-group" id="todo-list-example">
        <div class="card"
            is="todo-item"
            v-for="(todo, index) in todos"
            v-bind:key="todo.id"
            v-bind:title="todo.title"
            v-on:remove="todos.splice(index, 1)"
        >

        </div>
        <button class="mt-3 btn btn-success" v-on:click.prevent="addNewTodo"><i aria-hidden="true" class="fa fa-plus-circle"></i> Добавить</button>
    </div>
</template>

<script>
    Vue.component('todo-item', {
        template:'\
    <div class="card bg-light mb-5 p-3">\
        <div class="card-header">\
        \
        <label for="company">Компания</label> \
        <input placeholder="Введите название компании" name="company[]" type="text" class="form-control"> <br>\
        </div> \
        <div class="card-body"><label for="first_day[]">Дата трудоустройства</label> \
        <input required="required" name="first_day[]" type="date" value="" id="first_day[]" class="form-control"> <br> \
        \
        <label for="last_day[]">Дата увольнения</label> \
        <input name="last_day[]" type="date" value="" id="last_day[]" class="form-control"> <br> \
        \
        <label for="position[]">Должность</label> \
        <input required="required" name="position[]" type="text" value="" id="position[]" class="form-control"> <br> \
        \
        <label for="job_tasks[]">Рабочие обязанности</label> \
        <textarea rows="3" name="job_tasks[]" cols="50" id="job_tasks[]" class="form-control"></textarea> <br> \
        \
        <label for="achievements[]">Достижения</label> \
        <textarea rows="3" name="achievements[]" cols="50" id="achievements[]" class="form-control"></textarea> <br></div> \
        <span class="remove btn btn-danger m-2 ml-auto" v-on:click="$emit(\'remove\')">Удалить компанию</span>\
    </div>\
        ',
        props: ['title']
    });

    export default {
        data() {
            return {
                newTodoText: '',
                todos: [
                    {
                        id: 1,
                        title: 'шщгыарт'
                    }
                ],
                nextTodoId: 2,
            }
        },
        methods: {
            addNewTodo: function () {
                this.todos.push({
                    id: this.nextTodoId++,
                    title: this.newTodoText
                });
                this.newTodoText = ''
            }
        },

        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
