h4{
    font-weight: bold;
}

#content-block p{
    margin: 2rem 0;
}

#content-block .text-bordered{
    font-style: italic;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 1em 0;
    margin-bottom: 1.3em;
}