.material-img{
    float: left;
    margin: 0 2rem 2rem 0;
}

p{
    margin-bottom: 2rem;
}

.materials img{
    max-width: 100%;
}

.materials .material-item{
    border: 1px solid #ccc;
}

.materials .material-item {
    border: 1px solid #fff;
    background-color: #f3f3f3;
    padding-top: 1rem;
    padding-bottom: 3rem;
}
