.profile-link {
    font-size: 1.5rem;
}

.resume-container{
    padding: 2rem 0rem;
    border-radius: 2px;
    border: 1px solid rgb(237, 239, 242);
}


.resume-container .pagination{
    margin: 0 !important;
}

.be-post {
    border: 0;
    margin-bottom: 5px !important;
}